.header--main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  min-height: min-content;
  background-color: #073042;
  margin: 0;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 18px 70px;
  min-height: min-content;
  background-color: #202020;
  margin: 0;
}
@media screen and (max-width: 770px) {
  .header {
    padding: 18px 30px;
  }
  .header--main {
    padding: 18px 50px;
  }
}

@media screen and (max-width: 530px) {
  .header {
    padding: 18px 14px;
  }
  .header--main {
    padding: 18px 14px;
  }

  .header_margin {
    padding-bottom: 11px;
  }
}
